*~
a.out
/muxzcat
/muaxzcat
strace.out
*.o
/muxzcatj11.jar
/muxzcat.class
/muaxzcat.class
/muaxzcat.java
/muaxzcat.java.tmp1
/muaxzcat.java.tmp2
/muaxzcat.pl
/muaxzcat.pl.tmp1
/muaxzcat.pltmp2
/java102rt.jar
